<form [formGroup]="userForm" (ngSubmit)="saveUser()">
  <mat-card>

    <mat-card-header>
      <h1>{{ isEdit ? 'Add User' : 'Edit' }}</h1>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>username</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <mat-label>email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>phone</mat-label>
        <input matInput formControlName="phone">
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button type="submit" [disabled]="userForm.invalid" mat-raised-button
              color="primary">{{ isEdit ? "Add" : "Save" }}
      </button>
      <button (click)="closePopup()" mat-raised-button color="accent">Закрыть</button>
    </mat-card-actions>

  </mat-card>
</form>
